:root {
    --bitcoin--orange: #F7931A;
    --soft--orange: #FFE9D5;
    --secundary--blue: #1A9AF7;
    --soft--blue: #E7F5FF;
    --warm--black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off--white: #FAF8F7;
    --just--white: #ffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #FAF8F7;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 295px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header h1{
    font-weight: 700;
    color: var(--just--white);
    font-size: 24px;
}

header img {
    width: 135px;
    height: 24px;
    margin-top: 39px;
}

.header--title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    line-height: 26px;
}

header div p {
    font-weight: 500;
    font-size: 14px;
    color: var(--soft--orange);
    margin-top: 24px;
    line-height: 18px;
}

.header--button {
    position: absolute;
    left: calc(50% - 118px);
    width: 229px;
    height: 48px;
    background: #FAF8F7;
    top: 270px;
    font-weight: 700;
    font-size: 14px;
    color: var(--warm--black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    padding: 12px 16px;
    text-decoration: none;
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./icons/Vector.svg');
}

/* seccion 2 */

main {
    /* width: 320px; */
    height: auto;
}

.main-target--logo {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-top: 59px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-target--text {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-target--text h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--warm--black);
    margin-top: 40px;
    line-height: 26px;
    text-align: center;
}

.main-target--text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    margin-top: 24px;
    text-align: center;
}

/* Seccion 3 tablas */

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    margin-bottom: 64px;
}

.currency-table--tittle {
    margin-top: 48px;
    margin-left: 38px;
    font-size: 18px;
    font-weight: 700;
    color: var(--bitcoin--orange);
}

.currency-table--container {
    width: 197px;
    height: 159px;
    margin: 0 auto;
    margin-top: 12px;
}

.table__top-left {
    border-radius: 8px 0px 0px 0px;
    font-size: 16px;
}

.table__top-right {
    border-radius: 0px 8px 0px 0px;
}

.table__botton-left-botton {
    border-radius: 0px 0px 0px 8px;
}

.table__right .botton{
    border-radius: 0px 0px 8px 0px;
}

.table__right {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

td {
    width: 98px;
    height: 39px;
    background-color: #ffff;
    font-size: 16px;
    color: #B5B0AC;
    padding-left: 16px;
}

.table__trending .direcction {
    width: 42px;
    height: 12px;
    display: inline-block;
    margin-left: 10px;
    background-image: url('/icons/trending-up\ 1.svg');
}

.table__trending{
    background-image: url('/icons/trending-down\ 1.svg');
}

.currency-table--date {
    width: 173px;
    height: 31px;
    border: none;
    background: var(--soft--orange);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 16px;
}

div .currency-table--date p {
    text-align: center;
    padding: 8px;
    font-size: 11px;
}

/* Section 3 */

.main-description--container {
    min-width: 320px;
    height: 910px;
    background: #201E1C;
}

.main-description--content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-description--logo {
    position: absolute;
    background-image: url(/img/Group\ 16.png);
    width: 40px;
    height: 24px;
    top: -12px;
}

.main-description--title {
    width: 288px;
    height: 94px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    margin-top: 64px;
}
.main-description--title h2{
    font-size: 24px;
    color: var(--just--white);
    line-height: 26px;
    font-weight: 700;
}

.main-description--title p {
    font-size: 14px;
    color: #808080;
    line-height: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.description__content {
    position: relative;
    width: 288px;
    height: 152px;
    background: #282623;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 16px;
}

.description__content span {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 16px;
}

.description__content span.time {
    background-image: url('/icons/check-circle.png');
}

.description__content span.tasa {
    background-image: url('/icons/eye.png');
}

.description__content span.buy {
    background-image: url('/icons/dollar-sign.png');
}

.description__content span.information {
    background-image: url('/icons/check-circle.png');
}

.description__content h3 {
    font-size: 18px;
    color: var(--just--white);
    font-weight: 700;
    margin-left: 16px;
    margin-top: 48px;
}

.description__content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #808080;
    margin-top: 10px;
    margin-left: 16px;
    font-style: normal;
}

/* Section 4 */


.main-plans {
    width: 100%;
}

.main-plans--container {
    width: 190px;
    height: 247px;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    text-align: center;
    margin: 50px auto;
}

.main-plans--title {
    width: 288px;
    height: 112px;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}

.main-plans--title h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--warm--black);
}

.main-plans--title p {
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    font-weight: 500;
    padding-top: 24px;
}

.main-plans--content h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    padding-top: 31px;
}

.main-plans--value .number {
    font-size: 52px;
    line-height: 63px;
    font-weight: 700;
    padding-top: 8px;
    color: #000;
}

.main-plans--content p {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 700;
    color: #757575;
    padding-bottom: 16px;
}

.main-plans--button {
    border: 2px solid #F7931A;
    width: 151px;
    height: 48px;
    margin: 0 auto;
    background-color: #FAF8F7;
    border-radius: 4px;
    padding-top: 14px;
}

.button-text {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #201E1C;
    text-decoration: none;
}

.button-text span {
    position: absolute;
    background-image: url(/icons/arrow-right\ 1.svg);
    width: 24px;
    height: 24px;
    margin-left: 2px;
}

.main-plans--value {
    position: relative;
}

div.main-plans--value span {
    position: absolute;
    background-image: url(/icons/$.svg);
    width: 8px;
    height: 15px;
    top: 9px;
    left: 49px;
}

/* footer */

footer {
    background: var(--bitcoin--orange);
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.footer-text {
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    line-height: 18px;
    padding-top: 40px;
}

.footer-text p {
    padding-bottom: 8px;
}

.footer-logo img {
    padding-top: 52px;
}

.footer-logo p {
    font-size: 8px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--soft--orange);
}